<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Canvas Image2</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
    <canvas id="canvas" style="border: 1px solid #aaa;display: block;margin: 0 auto;"></canvas>

    <script>
    	var image = new Image();
    	image.src = '../../images/rabbit_01.jpg';
    	
    	window.onload = function() {
    		var canvas = document.getElementById('canvas');
    		var context = canvas.getContext('2d');

    		canvas.height = 400;
            canvas.width = 400;

			// 将图片渲染在canvas上
    		// context.drawImage(image, 0, 0);

    		// 像素值
    		var imageData = context.getImageData(0, 0, 3, 3);
    		var pixel = imageData.data;		// CanvasPixelArray

    		console.log(pixel[0]);
    		console.log(pixel[1]);
    		console.log(pixel[2]);
    		console.log(pixel[3]);

    		var width = imageData.width;
    		var x = 2;
    		var y = 2;

    		var pixelRed = ((y - 1)*(width * 4)) + ((x - 1)*4);
    		var pixelGreen = pixelRed + 1;
    		var pixelBlue = pixelRed + 2;
    		var pixelAlpha = pixelRed + 3;

    		console.log(pixelRed);
    		console.log(pixelGreen);
    		console.log(pixelBlue);
    		console.log(pixelAlpha);
    	}
    </script>
</body>
</html>